/* ESTILO GENERAL */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}


/* MENU */

.header {
    background-color: #222;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #3498db;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #3498db;
}

.menu-btn {
    display: none;
}


/* HERO */

.hero-interno {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.hero-interno span {
    color: #3498db;
}

.hero-interno h1 {
    font-size: 35px;
}


/* SECCION */

.seccion {
    padding: 40px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


/* TARJETAS */

.tarjeta {
    background-color: white;
    width: 250px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}


/* ICONOS */

.icono {
    font-size: 40px;
}


/* LISTAS */

.lista {
    text-align: left;
    line-height: 30px;
}


/* CELULARES */

.celulares {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.celulares div {
    width: 100px;
}

.celulares img {
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.celulares p {
    text-align: center;
    margin: 5px;
    font-weight: bold;
}


/* PIE DE PAGINA */

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}